Repository alexis-vasquez/lms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(Web): :sparkles: add register page
  .vscode/settings.json
  apps/api/src/database/seeders/20220917055140-default-users.js
  apps/web/pages/login.tsx
  apps/web/pages/register.tsx
  apps/web/src/components/forms/RegisterForm/index.tsx
  apps/web/src/services/AuthService.ts
  packages/eslint-config-custom/index.js
Due: eslint --fix, prettier --write

chore(Web): :sparkles: add dashboard layout
  apps/web/pages/_app.tsx
  apps/web/pages/courses/index.tsx
  apps/web/pages/index.tsx
  apps/web/pages/login.tsx
  apps/web/pages/register.tsx
  apps/web/src/components/Layout/Content/index.tsx
  apps/web/src/components/Layout/Header/index.tsx
  apps/web/src/components/Layout/Sider/index.tsx
  apps/web/src/components/Layout/index.tsx
  apps/web/src/router/index.tsx
  packages/design-system/components/Avatar/index.tsx
  packages/design-system/components/Breadcrumb/index.tsx
  packages/design-system/components/Icons/AppStoreOutlined.tsx
  packages/design-system/components/Icons/ReadOutlined.tsx
  packages/design-system/components/Icons/index.tsx
  packages/design-system/components/Image/index.tsx
  packages/design-system/components/Layout/index.tsx
  packages/design-system/components/Menu/index.tsx
  packages/design-system/components/index.ts
Due: eslint --fix

chore(Api): :fire: Add Table Models and Migrations
  apps/api/src/database/migrations/20221022144913-create-schedules.js
  apps/api/src/database/migrations/20221022215430-create-members.js
  apps/api/src/database/migrations/20221022221918-create-courses.js
  apps/api/src/database/migrations/20221022223858-create-status.js
  apps/api/src/database/models/Course.ts
  apps/api/src/database/models/Member.ts
  apps/api/src/database/models/Schedule.ts
  apps/api/src/database/models/State.ts
Due: eslint --fix

chore(Api): :ambulance: edited migrations
  apps/api/src/database/migrations/20220915013434-create-privilege.js
  apps/api/src/database/migrations/20220915015015-create-user.js
  apps/api/src/database/migrations/20221022144913-create-schedules.js
  apps/api/src/database/migrations/20221022215430-create-members.js
  apps/api/src/database/migrations/20221022221918-create-courses.js
  apps/api/src/database/migrations/20221022223858-create-status.js
  apps/api/src/database/migrations/20221022225430-create-courseRegistrations.js
Due: eslint --fix

eslint
  apps/api/package.json
  apps/api/src/database/migrations/20221022144913-create-schedules.js
  apps/api/src/database/migrations/20221022221918-create-courses.js
  apps/api/src/database/migrations/20221022225430-create-courseRegistrations.js
  apps/api/src/database/models/Course.ts
  apps/api/src/database/models/Member.ts
  apps/api/src/database/models/Schedule.ts
  apps/api/src/database/models/State.ts
Due: eslint --fix, prettier --write

editing models
  apps/api/src/database/migrations/20221022144913-create-schedules.js
  apps/api/src/database/migrations/20221022221918-create-courses.js
  apps/api/src/database/models/Course.ts
  apps/api/src/database/models/CourseRegistration.ts
  apps/api/src/database/models/CourseStatus.ts
  apps/api/src/database/models/Member.ts
  apps/api/src/database/models/Schedule.ts
  apps/api/src/database/models/ScheduleWeekDay.ts
  apps/api/src/database/models/State.ts
  apps/api/src/database/models/User.ts
Due: eslint --fix

chore(Api): :rocket: add models relations and sync with sequelize on api
  apps/api/src/database/migrations/20220915015015-create-user.js
  apps/api/src/database/migrations/20221022144913-create-schedules.js
  apps/api/src/database/migrations/20221022221918-create-courses.js
  apps/api/src/database/migrations/20221022225430-create-courseRegistrations.js
  apps/api/src/database/models/Category.ts
  apps/api/src/database/models/Course.ts
  apps/api/src/database/models/CourseRegistration.ts
  apps/api/src/database/models/CourseStatus.ts
  apps/api/src/database/models/Role.ts
  apps/api/src/database/models/Schedule.ts
  apps/api/src/database/models/ScheduleWeekDay.ts
  apps/api/src/database/models/User.ts
  apps/api/src/database/models/index.ts
  apps/api/src/database/seeders/20220917054723-default-roles.js
  apps/api/src/database/seeders/20220917055140-default-users.js
  apps/api/src/database/seeders/20221021055140-default-course-statuses.js
Due: eslint --fix

feat(Web): :fire: add logout option
  apps/web/pages/_error.tsx
  apps/web/pages/profile.tsx
  apps/web/src/components/Layout/Content/index.tsx
  apps/web/src/components/Layout/Header/index.tsx
  apps/web/src/components/Layout/Sider/index.tsx
  apps/web/src/components/Layout/index.tsx
  packages/design-system/components/Dropdown/index.tsx
  packages/design-system/components/Menu/index.tsx
  packages/design-system/components/index.ts
Due: eslint --fix

refactor(Api): :building_construction: fix some broken associatios
  apps/api/src/controllers/AuthController.ts
  apps/api/src/database/migrations/20220915015015-create-user.js
  apps/api/src/database/migrations/20221022144913-create-schedules.js
  apps/api/src/database/migrations/20221022221918-create-courses.js
  apps/api/src/database/migrations/20221022225430-create-courseRegistrations.js
  apps/api/src/database/models/Category.ts
  apps/api/src/database/models/Course.ts
  apps/api/src/database/models/CourseStatus.ts
  apps/api/src/database/models/Role.ts
  apps/api/src/database/models/ScheduleWeekDay.ts
  apps/api/src/database/models/User.ts
  apps/web/pages/404.tsx
Due: eslint --fix

feat(Api): :construction: add graphql server into /graphql url
  apps/api/package.json
  apps/api/src/graphql/resolvers/User/index.ts
  apps/api/src/graphql/resolvers/User/mutations.ts
  apps/api/src/graphql/resolvers/User/queries.ts
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/typedefs/common.ts
  apps/api/src/graphql/typedefs/index.ts
  apps/api/src/graphql/typedefs/privileges.ts
  apps/api/src/graphql/typedefs/role.ts
  apps/api/src/graphql/typedefs/user.ts
  apps/api/src/graphqlServer.ts
  apps/api/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(Api): :sparkles: add graphql user nested role
  apps/api/src/database/models/User.ts
  apps/api/src/graphql/resolvers/Role/index.ts
  apps/api/src/graphql/resolvers/Role/queries.ts
  apps/api/src/graphql/resolvers/User/baseQueries.ts
  apps/api/src/graphql/resolvers/User/queries.ts
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/typedefs/privileges.ts
  apps/api/src/graphql/typedefs/role.ts
  apps/api/src/graphql/typedefs/user.ts
  apps/api/tsconfig.json
Due: eslint --fix, prettier --write

chore(Api): add resolvers folders
  apps/api/src/graphql/resolvers/Category/baseQuieres.ts
  apps/api/src/graphql/resolvers/Category/index.ts
  apps/api/src/graphql/resolvers/Category/queries.ts
  apps/api/src/graphql/resolvers/Course/baseQuieres.ts
  apps/api/src/graphql/resolvers/Course/index.ts
  apps/api/src/graphql/resolvers/Course/queries.ts
  apps/api/src/graphql/resolvers/CourseRegistration/baseQuieres.ts
  apps/api/src/graphql/resolvers/CourseRegistration/index.ts
  apps/api/src/graphql/resolvers/CourseRegistration/queries.ts
  apps/api/src/graphql/resolvers/CourseStatus/baseQuieres.ts
  apps/api/src/graphql/resolvers/CourseStatus/index.ts
  apps/api/src/graphql/resolvers/CourseStatus/queries.ts
  apps/api/src/graphql/resolvers/Privilege/baseQuieres.ts
  apps/api/src/graphql/resolvers/Privilege/index.ts
  apps/api/src/graphql/resolvers/Privilege/queries.ts
  apps/api/src/graphql/resolvers/Schedule/baseQuieres.ts
  apps/api/src/graphql/resolvers/Schedule/index.ts
  apps/api/src/graphql/resolvers/Schedule/queries.ts
  apps/api/src/graphql/resolvers/ScheduleWeekDay/baseQuieres.ts
  apps/api/src/graphql/resolvers/ScheduleWeekDay/index.ts
  apps/api/src/graphql/resolvers/ScheduleWeekDay/queries.ts
Due: eslint --fix

refactor(Web): :art: handle routes correctly
  apps/web/jest.config.ts
  apps/web/pages/login.tsx
  apps/web/pages/register.tsx
  apps/web/src/components/Layout/Header/index.tsx
  apps/web/src/components/Layout/Sider/index.tsx
  apps/web/src/router/index.tsx
  apps/web/src/router/privatePage/index.tsx
  apps/web/src/router/privatePage/privatePage.test.tsx
  apps/web/src/router/protectedPage/index.tsx
  apps/web/src/router/protectedPage/protectedPage.test.tsx
  apps/web/src/router/routes.tsx
  packages/design-system/components/Icons/LogoutOutlined.tsx
  packages/design-system/components/Icons/index.tsx
Due: eslint --fix

refactor(Web): :construction: add breadcrumbs
  apps/web/src/components/Layout/Content/Breadcrumbs.tsx
  apps/web/src/components/Layout/Content/index.tsx
  apps/web/src/router/routes.tsx
  apps/web/src/utils/strings.ts
Due: eslint --fix

feat(Web): :construction: add dashboard placeholders
  apps/web/pages/index.tsx
  apps/web/src/components/Layout/Content/index.tsx
  apps/web/src/components/Layout/Header/index.tsx
  apps/web/src/components/Layout/Sider/index.tsx
  packages/design-system/components/Calendar/index.tsx
  packages/design-system/components/Card/index.tsx
  packages/design-system/components/Col/index.tsx
  packages/design-system/components/Divider/index.tsx
  packages/design-system/components/Grid/index.tsx
  packages/design-system/components/List/index.tsx
  packages/design-system/components/Row/index.tsx
  packages/design-system/components/index.ts
Due: eslint --fix

feat(web): add course pages layout
  apps/web/pages/courses/[id].tsx
  apps/web/pages/courses/create.tsx
  apps/web/pages/courses/index.tsx
  apps/web/pages/index.tsx
  apps/web/src/components/pages/courses/CoursesTabs.tsx
  packages/design-system/components/Carousel/index.tsx
  packages/design-system/components/Select/index.tsx
  packages/design-system/components/Tabs/index.tsx
  packages/design-system/components/index.ts
Due: eslint --fix

feat(Web): :lipstick: add header styles
  apps/web/pages/courses/index.tsx
  apps/web/src/components/Layout/Header/index.tsx
  packages/design-system/components/Space/index.tsx
  packages/design-system/components/Typography/index.tsx
  packages/design-system/components/index.ts
Due: eslint --fix

feat(Web): :sparkles: add role based routing, and query hook state synced
  apps/api/src/database/migrations/20221022221918-create-courses.js
  apps/api/src/database/models/Course.ts
  apps/api/src/database/models/Privilege.ts
  apps/web/pages/index.tsx
  apps/web/src/components/Layout/Sider/index.tsx
  apps/web/src/components/pages/courses/CoursesTabs.tsx
  apps/web/src/components/pages/dashboard/AdminDashboard.tsx
  apps/web/src/components/pages/dashboard/StudentsDashboard.tsx
  apps/web/src/hooks/useQueryState.tsx
  apps/web/src/router/routes.tsx
Due: eslint --fix

perf(Api): :truck: create user service, update graphql
  apps/api/src/controllers/AuthController.ts
  apps/api/src/graphql/resolvers/User/index.ts
  apps/api/src/graphql/resolvers/User/queries.ts
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/typedefs/user.ts
  apps/api/src/services/UserService.ts
Due: eslint --fix

perf(Api): add models to its own package
  apps/api/.sequelizerc
  apps/api/package.json
  apps/api/src/database/config.ts
  apps/api/src/database/index.ts
  apps/api/src/graphql/resolvers/Role/queries.ts
  apps/api/src/graphql/resolvers/User/baseQueries.ts
  apps/api/src/index.ts
  apps/api/src/services/UserService.ts
  packages/database/.eslintrc.js
  packages/database/.gitignore
  packages/database/.sequelizerc
  packages/database/config.ts
  packages/database/index.ts
  packages/database/migrations/20220915013434-create-privilege.js
  packages/database/migrations/20220915014523-create-role.js
  packages/database/migrations/20220915015015-create-user.js
  packages/database/migrations/20220915045233-role-privilege-relation.js
  packages/database/migrations/20221020025045-create-categories-table.js
  packages/database/migrations/20221022144913-create-schedules.js
  packages/database/migrations/20221022221918-create-courses.js
  packages/database/migrations/20221022225430-create-courseRegistrations.js
  packages/database/models/Category.ts
  packages/database/models/Course.ts
  packages/database/models/CourseRegistration.ts
  packages/database/models/CourseStatus.ts
  packages/database/models/Privilege.ts
  packages/database/models/Role.ts
  packages/database/models/Schedule.ts
  packages/database/models/ScheduleWeekDay.ts
  packages/database/models/User.ts
  packages/database/models/index.ts
  packages/database/package.json
  packages/database/seeders/20220917054723-default-roles.js
  packages/database/seeders/20220917055140-default-users.js
  packages/database/seeders/20221021055140-default-course-statuses.js
  packages/database/tsconfig.json
  packages/design-system/package.json
  turbo.json
Due: eslint --fix, prettier --write

style(Database): :rotating_light: do linting in new database package
  packages/database/.eslintrc.js
  packages/database/migrations/20220915013434-create-privilege.js
  packages/database/migrations/20220915014523-create-role.js
  packages/database/migrations/20220915015015-create-user.js
  packages/database/migrations/20220915045233-role-privilege-relation.js
  packages/database/package.json
  packages/database/seeders/20220917054723-default-roles.js
  packages/database/seeders/20220917055140-default-users.js
  packages/database/seeders/20221021055140-default-course-statuses.js
Due: eslint --fix, prettier --write

feat: graphql server optional
  .vscode/settings.json
  apps/api/src/config.ts
  apps/api/src/controllers/AuthController.ts
  apps/api/src/graphql/types/User.ts
  apps/api/src/graphql/types/index.ts
  apps/api/src/graphqlServer.ts
  apps/api/src/index.ts
  apps/api/src/services/RoleService.ts
  apps/api/src/services/UserService.ts
  apps/api/src/utils/validation.ts
  apps/web/src/context/AuthContext/types.ts
  packages/database/migrations/20220915045233-role-privilege-relation.js
  packages/database/models/Privilege.ts
  packages/database/models/Role.ts
  packages/database/seeders/20220917054323-default-privileges.js
  packages/database/seeders/20220917054723-default-roles.js
Due: eslint --fix, prettier --write

perf(Api): :tada: update graphql user resolver
  apps/api/src/graphql/resolvers/Role/queries.ts
  apps/api/src/graphql/resolvers/User/baseQueries.ts
  apps/api/src/graphql/resolvers/User/index.ts
  apps/api/src/graphql/resolvers/User/mutations.ts
  apps/api/src/graphql/resolvers/User/queries.ts
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/typedefs/role.ts
  apps/api/src/graphql/typedefs/user.ts
  apps/api/src/graphql/types/User.ts
  apps/api/src/graphql/types/index.ts
  apps/api/src/graphqlServer.ts
Due: eslint --fix

feat(Api): :sparkles: add resolver for user-me query
  apps/api/src/graphql/resolvers/User/queries.ts
  apps/api/src/graphql/typedefs/user.ts
  apps/api/src/graphqlServer.ts
  apps/api/src/index.ts
Due: eslint --fix

feat(Web): :art: add apollo hooks and profile page
  apps/api/src/utils/validation.ts
  apps/web/.env
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/_app.tsx
  apps/web/pages/profile.tsx
  apps/web/src/components/forms/LoginForm/LoginForm.test.tsx
  apps/web/src/components/forms/LoginForm/index.tsx
  apps/web/src/components/forms/RegisterForm/index.tsx
  apps/web/src/context/AuthContext/index.tsx
  apps/web/src/hooks/AuthHooks.ts
  apps/web/src/hooks/UserHooks.ts
  apps/web/src/hooks/useErrorMessage.tsx
  apps/web/src/services/ApolloClient.ts
  apps/web/src/services/AuthService.ts
  apps/web/src/services/axiosClient.ts
  apps/web/src/utils/strings.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore(Database): :art: Add seeders
  packages/database/seeders/20221104002630-default-course-categories.js
  packages/database/seeders/20221104020243-default-course-schedules.js
  packages/database/seeders/20221104023112-default-courses.js
Due: eslint --fix

chore(Database): Fix on migration, seeder and database model
  packages/database/migrations/20220915013434-create-privilege.js
  packages/database/models/Privilege.ts
  packages/database/seeders/20221104020243-default-course-schedules.js
Due: eslint --fix

chore(Database): :memo: Suggest changes and Seeders test
  packages/database/migrations/20220915013434-create-privilege.js
  packages/database/models/Privilege.ts
  packages/database/seeders/20220917054323-default-privileges.js
  packages/database/seeders/20221104002630-default-course-categories.js
  packages/database/seeders/20221104020243-default-course-schedules.js
  packages/database/seeders/20221104023112-default-courses.js
Due: eslint --fix

chore: Edit files and add models
  apps/api/src/graphql/resolvers/Category/baseQuieres.ts
  apps/api/src/graphql/resolvers/Category/index.ts
  apps/api/src/graphql/resolvers/Category/queries.ts
  apps/api/src/graphql/resolvers/Course/queries.ts
  apps/api/src/graphql/resolvers/CourseRegistration/baseQuieres.ts
  apps/api/src/graphql/resolvers/CourseRegistration/index.ts
  apps/api/src/graphql/resolvers/CourseRegistration/queries.ts
  apps/api/src/graphql/resolvers/CourseStatus/baseQuieres.ts
  apps/api/src/graphql/resolvers/CourseStatus/index.ts
  apps/api/src/graphql/resolvers/CourseStatus/queries.ts
  apps/api/src/graphql/resolvers/Privilege/baseQuieres.ts
  apps/api/src/graphql/resolvers/Schedule/baseQuieres.ts
  apps/api/src/graphql/resolvers/Schedule/index.ts
  apps/api/src/graphql/resolvers/Schedule/queries.ts
  apps/api/src/graphql/resolvers/ScheduleWeekDay/baseQuieres.ts
  apps/api/src/graphql/resolvers/ScheduleWeekDay/index.ts
  apps/api/src/graphql/resolvers/ScheduleWeekDay/queries.ts
  apps/api/src/graphql/resolvers/User/queries.ts
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/typedefs/course.ts
  apps/api/src/graphql/typedefs/index.ts
  apps/api/src/services/CourseService.ts
  apps/api/src/services/UserService.ts
  packages/database/models/Course.ts
  packages/database/models/CourseStatus.ts
Due: eslint --fix

fix(Database): Delete resolvers file
  apps/api/src/graphql/resolvers/Course/baseQuieres.ts
  apps/api/src/graphql/resolvers/Course/index.ts
  apps/api/src/graphql/resolvers/Privilege/index.ts
  apps/api/src/graphql/resolvers/Privilege/queries.ts
  apps/api/src/graphql/resolvers/index.ts
Due: eslint --fix

chore(Api): Add all services (Category, Schedule, Status)
  apps/api/src/services/CategoryService.ts
  apps/api/src/services/ScheduleService.ts
  apps/api/src/services/StatusService.ts
  packages/database/models/Category.ts
  packages/database/models/CourseStatus.ts
  packages/database/models/Schedule.ts
Due: eslint --fix

feat(Api): :sparkles: add course resolvers
  apps/api/src/graphql/resolvers/Course/baseQueries.ts
  apps/api/src/graphql/resolvers/Course/queries.ts
  apps/api/src/graphql/resolvers/Role/queries.ts
  apps/api/src/graphql/resolvers/User/baseQueries.ts
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/typedefs/course.ts
  apps/api/src/graphql/typedefs/index.ts
  packages/database/models/Course.ts
  packages/database/package.json
Due: eslint --fix, prettier --write

feat(Api): :zap: expose cuourse graphql api
  apps/api/src/graphql/resolvers/Course/index.ts
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/typedefs/course.ts
  packages/database/package.json
  packages/database/seeders/20220917054723-default-roles.js
  packages/database/seeders/20220917055140-default-users.js
Due: eslint --fix, prettier --write

refactor(Web): :recycle: take hooks to their own service hook
  apps/web/pages/profile.tsx
  apps/web/src/components/forms/LoginForm/index.tsx
  apps/web/src/components/forms/RegisterForm/index.tsx
  apps/web/src/context/AuthContext/index.tsx
  apps/web/src/hooks/AuthHooks.ts
  apps/web/src/hooks/UserHooks.ts
  apps/web/src/services/AuthService.ts
  apps/web/src/services/UserService.ts
Due: eslint --fix

feat(Web): :fire: adding courseId frontend
  yarn.lock
Due: none

feat(Web): :fire: adding courseId frontend
  apps/web/pages/courses/[id].tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.json
